<app-menu></app-menu>
<div class="container mat-elevation-z8" >
   
    <div class="row">
        <mat-toolbar color="primary" >    
        <span>Asignación Libro</span>    
        </mat-toolbar>  
    </div>

    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Libro</mat-label>
            <mat-select [(ngModel)]="libro"  (selectionChange)="cargaAutor()" >
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of lstLibro" [value]="x.idLibro">
                    {{x.titulo}}
                </mat-option>   
            </mat-select> 
        </mat-form-field> 

        <mat-form-field class="col-md-4">
            <mat-label>Autor</mat-label>
            <mat-select [(ngModel)]="autor">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of lstAutor" [value]="x.idAutor">
                    {{x.nombres}}
                </mat-option>   
            </mat-select> 
        </mat-form-field> 
        
        <button mat-raised-button color="primary" (click)="registraAutor()" type="button" class='btn btn-primary btn-sm' style="width: 100px">Agregar</button>

       
    </div>


    <div class="row" style="margin-top: 3%">
        <mat-table  #table  class="mat-cell" [dataSource]="dataSource" >
              <ng-container matColumnDef="idAutor">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Código</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.idAutor  }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Nombre</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.nombres}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>
                <mat-cell *matCellDef="let aux; let i=index;">
                    <button mat-raised-button color="primary"  (click)="eliminaAutor(aux)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
  </div>

 </div>